@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&display=swap');

/* Importa a fonte "Anek Kannada" do Google Fonts com pesos variando de 100 a 800. Isso permite o uso desta fonte no documento. */

:root {
    --color-white: #fff;
    --color-dark1: #272727;
    /* Define variáveis de cores CSS para uso em todo o documento. --color-white é branco (#fff) e --color-dark1 é um tom escuro de cinza (#272727). */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* Aplica a todos os elementos:
       - margin: 0; -> Remove todas as margens padrão.
       - padding: 0; -> Remove todos os preenchimentos padrão.
       - box-sizing: border-box; -> Inclui bordas e preenchimentos nas dimensões do elemento.
       - text-decoration: none; -> Remove decorações de texto como sublinhados. */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    background-image: url(https://images5.alphacoders.com/746/746133.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.img_logo_header {
    height: 30px;
    /* Define a altura da imagem com a classe .img_logo_header como 30 pixels. */
}

.btn {
    color: rgb(84, 84, 228);
    border-color: rgb(84, 84, 228);
    /* Define a cor do texto e da borda dos elementos com a classe .btn como um tom de azul específico (RGB: 84, 84, 228). */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
   
}

main h1 {
    font-family: "Anek Kannada", sans-serif;
    color: black;
    margin: 2vh 40vw;
    font-size: 4rem;
    
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    /* Aplica ao elemento <section>:
       - display: flex; -> Define um contêiner flexível.
       - justify-content: space-around; -> Distribui espaço uniformemente ao redor dos itens.
       - align-items: center; -> Centraliza os itens verticalmente.
       - flex-direction: row; -> Alinha os filhos em uma linha.
       - position: relative; -> Define a posição como relativa para permitir posicionamento absoluto de filhos. */
}

.img-commu {
    height: 150px;
    width: 250px;
    border: 3px solid rgba(176, 217, 255, 0.644);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(176, 217, 255, 0.644);
   
}

.conteudo {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: auto;
    scrollbar-color: #000000 #f5f5f5;
    
}

.image-commu-first {
    width: 50vw;
    height: 60vh;
    border-radius: 15px;
    border: 3px solid rgba(176, 217, 255, 0.644);
    box-shadow: 5px 5px 10px rgba(176, 217, 255, 0.644);
    
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 5px rgb(43, 97, 214)e;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
    100% {
        box-shadow: 0 0 5px white;
    }
}

.touch {
    cursor: pointer;
    
}

.touch2:hover {
    z-index: 1;
    transform: scale(1.1);
    
}

.content-second {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: 30px;
    box-sizing: content-box;
    flex-direction: column;
    position: relative;
    
}

.menu {
    display: none;
    /* Inicialmente, esconde o elemento com a classe .menu. */
}

#botao-responsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    
}

@media (max-width: 1130px) {
    /* Inicia uma media query que aplica estilos específicos quando a largura da viewport é de no máximo 1130 pixels */
    #botao-responsive {
        display: none;
        /* Esconde o elemento com o id #botao-responsive quando a largura da viewport é de no máximo 1130 pixels. */
    }
    .person_info {
        display: none;
        /* Esconde os elementos com a classe .person_info quando a largura da viewport é de no máximo 1130 pixels. */
    }
    .menu {
        padding: 2px;
        background-color: #df1111;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        cursor: pointer;
        margin-left: -3rem;
        
    }
    .teror {
        position: absolute;
        /* Define a posição como absoluta para os elementos com a classe .teror quando a largura da viewport é de no máximo 1130 pixels. */
    }
    .menu:hover {
        transform: scale(1.1);
        transition: 1s;
        
    }
    .horror {
        position: absolute;
        left: 20%;
        /* Define a posição como absoluta e desloca 20% para a esquerda para os elementos com a classe .horror quando a largura da viewport é de no máximo 1130 pixels. */
    }
    section {
        display: flex;
        flex-direction: column;
        transition: 1.3s;
        
    }
    .image-commu {
        width: 50%;
        height: 10%;
        /* Define a largura como 50% e a altura como 10% para os elementos com a classe .image-commu quando a largura da viewport é de no máximo 1130 pixels. */
    }
    .image-commu-first {
        height: 150px;
        width: 250px;
        margin-bottom: 1rem;
        /* Define a altura como 150 pixels, a largura como 250 pixels e uma margem inferior de 1 rem para os elementos com a classe .image-commu-first quando a largura da viewport é de no máximo 1130 pixels. */
    }
    .image-commu-first:hover {
        transform: scale(1.1);
        z-index: 1;
        
    }
    .content-second,
    .content-first,
    .image-community {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /
    }
}